Node-red/HomeAutomation.json
[{"id":"edf9022d.f2b0e","type":"tab","label":"HOME_AUTOMATION","disabled":false,"info":""},{"id":"a139c37.189154","type":"mqtt in","z":"edf9022d.f2b0e","name":"","topic":"homeAutomation","qos":"2","datatype":"json","broker":"accd0c67.6d632","x":100,"y":480,"wires":[["d0dc9da5.263b8","61a155c1.1c4a8c","c1218474.5677f8"]]},{"id":"d0dc9da5.263b8","type":"debug","z":"edf9022d.f2b0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":480,"wires":[]},{"id":"9ff1413b.fb5df","type":"mqtt out","z":"edf9022d.f2b0e","name":"","topic":"inTopic","qos":"","retain":"","broker":"accd0c67.6d632","x":490,"y":400,"wires":[]},{"id":"b2d2d05e.fc922","type":"ui_switch","z":"edf9022d.f2b0e","name":"Node1","label":"Light Switch","tooltip":"","group":"259f2e6c.f43b92","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":90,"y":400,"wires":[["9ff1413b.fb5df"]]},{"id":"61a155c1.1c4a8c","type":"function","z":"edf9022d.f2b0e","name":"Temperature","func":"// const macID = msg.payload.DeviceID;\nconst Temp = msg.payload.Temperature;\n// const Humi = msg.payload.Humidity;\n// node.warn(macID+\" \"+Temp+\" \"+ Humi)\nmsg.payload = Temp;\nreturn msg","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["5f266d99.62cfb4","55fa8af5.7e5964"]]},{"id":"5f266d99.62cfb4","type":"ui_gauge","z":"edf9022d.f2b0e","name":"Temperature","group":"a0f611b5.1593d","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"`C","format":"{{value}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":540,"wires":[]},{"id":"c1218474.5677f8","type":"function","z":"edf9022d.f2b0e","name":"Humidity","func":"// const macID = msg.payload.DeviceID;\nconst Humi = msg.payload.Humidity;\nmsg.payload = Humi;\nreturn msg","outputs":1,"noerr":0,"x":280,"y":640,"wires":[["5247762b.1dab98"]]},{"id":"5247762b.1dab98","type":"ui_gauge","z":"edf9022d.f2b0e","name":"","group":"259f2e6c.f43b92","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":640,"wires":[]},{"id":"55fa8af5.7e5964","type":"ui_chart","z":"edf9022d.f2b0e","name":"Node1","group":"a0f611b5.1593d","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"18","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":600,"wires":[[]]},{"id":"accd0c67.6d632","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"259f2e6c.f43b92","type":"ui_group","z":"","name":"Humidity","tab":"c986d549.b3a748","disp":true,"width":"6","collapse":false},{"id":"a0f611b5.1593d","type":"ui_group","z":"","name":"Temperature","tab":"c986d549.b3a748","disp":true,"width":"6","collapse":false},{"id":"c986d549.b3a748","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]